.text-no-3 {
    color: lightgreen;
    font-size: 50px;
}

/* no-5 */
#container {
    background-color: antiquewhite;
    padding: 5px;
}
.heading {
    color: #7e7e7e;
    text-decoration: double;
}
article {
    font-size: 1.2em;
    color: darkslategray;
}


/* no-5 */
#container:hover {
    background-color: rgba(250, 235, 215, 0.409);
    text-decoration: underline;
}


/* no-6 */
.heading::after {
    content: "?";
    text-decoration: underline;
}


/* no-7 */
.container-unit {
    border: 2px solid lightblue; 
    margin-top: 10px;
}
.relatif-unit {
    font-size: 1.5em;
}
.absolute-unit {
    font-size: 16px;
}


/* No-8 */
.container-main {
    border: 2px solid lightgreen;
    margin-top: 10px;
    background-color: lightcyan;
    position: relative;   /* no-8 relative */
    width: 1000px;
    height: 500px;
}
.sub-container-1 {
    margin: 10px;
    width: 25%;
    height: 10%;
    background-color: lightseagreen;
    align-content: center;
    text-align: center;
}
.sub-container-2 {
    margin: 10px;
    width: 25%;
    height: 10%;
    background-color: lightsalmon;
    align-content: center;
    text-align: center;
    position: absolute;   /* no-9 absolute */
    top: 0;
    right: 0;
}


